<div class="product">
  <div class="image-container">

  </div>
  <div class="content-container">
    
    <!--header info-->
    <div class="col-1">
      <span class="">
        Ciasto truskawkowe
      </span>
      <i>ikona</i>
      <i>ikona</i>
    </div>

    <!--description-->
    <p class="col-2">
      Ciasto z bitą śmietną i lekkim musem truskawkowym, na czekoladowym spodzie.
    </p>
  
    <!--configurable options-->
    <div>
      <span class="col-2">
        Liczba porcji <span class="servings-number col-1">4</span>
      </span>
      <span class="col-2">
        Cena ciasta 40 <!--add something that get currency depending on the country  // price component-->
      </span>
    </div>
  </div>  
</div>