<div class="product">
  <div class="image">

  </div>
  <div class="content">
    
    <!--header info-->
    <div>
      <span>
        Ciasto truskawkowe
      </span>
      ikona<br>ikona
    </div>

    <!--description-->
    <p>
      Ciasto z bitą śmietną i lekkim musem truskawkowym, na czekoladowym spodzie.
    </p>
  
    <!--configurable options-->
    <div>
      <span>
        Liczba porcji <span class="servings-number">4</span>
      </span>
      <span>
        Cena ciasta 40 <!--add something that get currency depending on the country  // price component-->
      </span>
    </div>
  </div>  
</div>